body{
    font-family: "Open-Sans",sans-serif;
    background-image: url(images/bg1.jpg);
    box-sizing: border-box;
}
#container{
    height: 550px;
    width: 1000px;
    background-color: #363232;
    margin:20px auto;
   
}
#calculator{
    height: 550px;
    width: 500px;
    position: relative;
    float: left;

}
#result{
    height: 120px;
    margin :20px 10px;
    color: white;
}
#history{
    height: 40px;  
    padding-top: 15px;
    font-size: 20px;
}
#history-value{
    float: right; 
}
#output{
    height:50px;
    font-size: 40px;
    
}
#output-value{
    float: right;
    
}
#keyboard{
   
    height: 380px;   
    width: 500px;
    position: absolute;
    bottom: 6px;
}
.row{
    padding: 1px 1px;
    margin-left: 6px;  
    
}
.column {
    float: left;
    width: 25%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.operator,.number{
   
    color:	rgb(230, 230, 230);
    width:115px;
    
    height:74px;
    
    font-size: 22px;
    cursor: pointer;
    border: none;
    
   
   
}
.number{
    background-color: black;

}
.operator{
    background-color: rgb(38, 38, 38);

}
.operator:hover, .number:hover{
    background-color:#867979;
  }

.operator:active, .number:active{
  background-color: rgba(38, 33, 33, 0.76);

}

#history-memory{
    height: 550px;
    width: 500px;
    float: right;   
    position: relative;    
    
}
#history-tab{
    padding-left: 15px;
    font-size: 25px;
    color: white;
}
#history-previous{
    
    font-size: 20px;
    color: white;
   
  
}
.divhover{
    text-align: right;
    padding-right: 15px;
   
    
}
.divhover:hover{
   background-color:#808080;

}
.outputhistory{
    font-size: 15px;
   

  
}
.outputresult{
    font-size: 20px;
   
    
}
.btn {
    border: none;
    background-color: #363232;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    float: right;
    right:    0;
    bottom:   0;
    padding: 15px;
  }
